<div class="input-group" style="font-family: auto;">
  <form method="POST" action="https://oxygencricket83384.activehosted.com/proc.php" id="_form_13_" class="_form _form_13 _inline-form  _dark" novalidate>
    <input type="hidden" name="u" value="13" />
    <input type="hidden" name="f" value="13" />
    <input type="hidden" name="s" />
    <input type="hidden" name="c" value="0" />
    <input type="hidden" name="m" value="0" />
    <input type="hidden" name="act" value="sub" />
    <input type="hidden" name="v" value="2" />
    <div class="_form-content">
      <div class="_form_element _x35783515 _full_width " >
        <div class="_field-wrapper">
          <input type="text" id="email" name="email" placeholder="Type your email" required/>
        </div>
      </div>
      <div class="_button-wrapper _full_width">
        <button id="_form_13_submit" class="_submit" type="submit">
          Join Now
        </button>
      </div>
      <div class="_clear-element">
      </div>
    </div>
    <div class="_form-thank-you" style="display:none;">
    </div>

  </form>



</div>
