    <!-- FAQ -->
    <section class="bmw-faq-wrapper section-padding">
      <div class="container">
        <div class="bmw-section-heading">
          <h4>Got More Questions?</h4>
        </div>
        <div class="bmw-faq-widget">

          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel class="accordion-header" *ngFor="let faq of faqs;index as i">
              <mat-expansion-panel-header class="accordion-header">
                <mat-panel-title> Q) {{faq.question}} </mat-panel-title>
              </mat-expansion-panel-header>
              A) {{faq.answer}}
            </mat-expansion-panel>

          </mat-accordion>

          <p class="bmw-info"><strong>Final Note:</strong> This webinar will help you to know where you are in terms of your health & where you can reach. You will come to know the difference in diseases expenditure & health expenditure.</p>
        </div>
      </div>
    </section>
    <!-- END FAQ -->
