.banner-wrapper .upper-landing__info {
    margin-top: 60px;
}

.banner-wrapper .upper-landing__info h2 {
    color: #fff;
    font-weight: 800;
    font-size: 40px;
}

.banner-wrapper .upper-landing__info p {
    color: #fff;
}

.main-header .navbar .nav-item .nav-link {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Alata', sans-serif;
}

@media only screen and (max-width: 992px) {
    .banner-wrapper .upper-landing__info {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 50px !important;
    }
    .banner-wrapper {
        padding-bottom: 70px;
    }
    .landing-slideshow__slide iframe {
        height: 44vw;
    }
}
.bg{
  background: url("https://i.ibb.co/t8B5Y8L/landing-page-girl.png") bottom left /
    contain no-repeat;
}
@media only screen and (min-width: 724px) {
  .banner-img {
    height: 450px;
  }
}
@media only screen and (min-width: 724px) {
  .banner-img {
    background-color: lightblue;
  }
}
