<div style="background: linear-gradient(82.25deg, #EE722B 0%, #b8e866 97.92%);">
    <header class="main-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a _ngcontent-nbk-c13="" target="_blank" href="https://gonatureclassrooms.org/" class="navbar-brand">
                    <img _ngcontent-nbk-c13="" src="assets/images/f-go-nature.png" alt="logo" style="height: 40px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-line"></span>
          <span class="navbar-line"></span>
          <span class="navbar-line"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="https://gonatureclassrooms.org/about-us/">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://gonatureclassrooms.org/contacts/">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <section class="banner-wrapper mt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="upper-landing__info">
                        <div class="upper-landing__header">
                            <h2 style="line-height: normal;">Naturopathy Healing System</h2>
                        </div>
                        <div class="upper-landing__copy">
                            <p>This is a live webinar in which we will take you across an Indian way of healing through naturopathy to not only survive but thrive through your life with evidence-based, Indian natural methods that have no supplements & other medicines.</p>
                        </div>
                        <div>

                            <img src="assets/images/reviews.png" alt="img06" class="img-fluid">
                            <gonature-workshop-mail-cta></gonature-workshop-mail-cta>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="upper-landing__slideshow">
                        <div class="landing-slideshow" id="landing-slideshow">
                            <div class="landing-slideshow__slide" style="">
                              <img class="banner-img" src="assets/images/yoga.png" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
