

<div style="background: linear-gradient(82.25deg, #EE722B 0%, #b8e866 97.92%);">
  <main class="content">
    <header class="site-header">
      <h1 class="site-header__logo">
        <a _ngcontent-nbk-c13="" target="_blank" href="https://gonatureclassrooms.org/" class="navbar-brand">
          <img _ngcontent-nbk-c13="" src="assets/images/f-go-nature.png" alt="logo" style="height: 40px;">
        </a>

      </h1>
      <section class="site-header__actions">
        <nav class="site-nav">
          <a href="https://gonatureclassrooms.org/about-us/" class="site-nav__item"><span>About</span></a>
          <a href="https://gonatureclassrooms.org/conatact-us/" class="site-nav__item"><span>Contact</span></a>
          <a href="javascript:void(0)" class="site-nav__item active"><span>Workshop</span></a>
        </nav>

        <!--/__search-->
        <div class="site-header__cart">
          <a href="#0">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/6791/braun-cart.png" alt="View Cart">
            <!-- Image for demo purpose, SVG better for production -->
          </a>
        </div>
  <!-- /__cart -->
      </section>
    </header>

    <section class="upper-landing">

      <div class="upper-landing__info">
        <header class="upper-landing__header">
          <h2>
            Core Naturopathy<br>
            Workshop
          </h2>
        </header>
        <div class="upper-landing__copy">
          In this session, we will show you a naturopathy healing system to not only survive but thrive through your life with a proven natural method that has no supplements & other medicines.
        </div>
        <!-- /__copy -->
        <div >
          <a href="https://rzp.io/l/special49" style="padding: 10px;" class="btn btn-primary mwb-pay-btn">Register now 49/-</a>
        </div>
      <!-- /__cta -->
      </div>
      <div class="upper-landing__slideshow" style="margin-left: 50px;">
        <div class="landing-slideshow" id="landing-slideshow">
          <div class="landing-slideshow__slide" style="width:100%;height:380px">
            <iframe _ngcontent-serverapp-c12="" src="https://player.vimeo.com/video/566197477" width="100%" height="380" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
          </div>

        </div>

      </div>
      <!-- /__slideshow -->
    </section>

  </main>
</div>
