.inner-box {
  margin-top: 80px;
}
.inner-box .submit-btn {
  background-color: #000000;
  border: solid 0px;
  padding: 10px 41px;
  border-radius: 5px;
  color: #f9f9f9;
  line-height: 25px;
}
.inner-box h4 {
  margin-bottom: 30px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .inner-box {
    margin-top: 30px;
  }
}