

<mat-drawer-container>
  <mat-drawer #drawer style="height: 100vh;" position="end" mode="over">
    <div [ngClass]="{'fullWidth': platform.ANDROID,'halfWidth': !platform.ANDROID}" style="background: linear-gradient(82.25deg, #EE722B 0%, #b8e866 97.92%);">
      <header class="main-header text-center" style="background-color: none;" >
        <div class="container">
          <div class="main-logo">
            <a class="navbar-brand" target="_blank" href="https://gonatureclassrooms.org/">
              <img class="mobile-logo" src="assets/images/f-go-nature.png" alt="logo">
            </a>
          </div>
        </div>
      </header>
      <gonature-workshop-leadform></gonature-workshop-leadform>

    </div>
  </mat-drawer>
  <div class="example-sidenav-content" style="height: 100vh;">
    <ng-container [ngTemplateOutlet]="MAIN"></ng-container>

  </div>
</mat-drawer-container>
<ng-template #MAIN>
  <gonature-workshop-banner></gonature-workshop-banner>
  <main>
      <section class="bmw-banner text-center">

          <div class="banner-svg-btm">
              <svg width="1900" height="234" viewBox="0 0 1900 234" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 197.248C0 197.248 416.07 316.162 908.438 122.807C1400.8 -70.5474 1900 122.807 1900 122.807V0.563354L0 0.563354L0 197.248Z" fill="url(#paint0_linear)"/>
          <defs>
            <linearGradient id="paint0_linear" x1="1900" y1="233.222" x2="154.055" y2="-414.619" gradientUnits="userSpaceOnUse">
              <stop stop-color="#B8E866"/>
              <stop offset="1" stop-color="#EE722B"/>
            </linearGradient>
          </defs>
        </svg>
          </div>
      </section>






      <!-- countdown -->

  <gonature-workshop-count-down></gonature-workshop-count-down>

  <!-- END countdown -->

  <section class="bmw-product-wrapper">
    <div class="container">
      <div class="bmw-section-heading">
        <h4>FEATURES OF THE WEBINAR</h4>
        <p>Here is an outline of what will be covered in the Webinar!</p>
      </div>
    </div>
    <div class="bmw-product-widget-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="bmw-product-widget-img">
              <img src="assets/images/img04.png" alt="health-readmap" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6">
            <div class="bmw-product-widget">
              <h4>Learn The 4 Simple Steps Of Indian Naturopathy Healing System To Heal The Global Community</h4>
              <ul class="mwb-list-about">
                <li>The first step of healing is bringing realistic awareness and insights into the over-informative world.</li>
                <li>The second step is bringing realistic awareness and insights about your health issues and realising your mistakes.</li>
                <li>The third step is going to the root cause of health issues and hit the hammer on the real culprit.</li>
                <li>The fourth step is reversing your disease with the right food, power breathing and lifestyle modification from the comfort of your home.</li>
              </ul>
              <div style="padding: 30px 0px;">
                <gonature-workshop-mail-cta surface="dark" title="Learn More"></gonature-workshop-mail-cta>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bmw-product-widget-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="bmw-product-widget">
              <h4>Get 100% Clarity on Diets</h4>
              <ul class="mwb-list-about">
                <li>We will develop a strategic plan of action to dramatically improve your health, vitality & strength with a 360-degree holistic approach through diets.</li>
                <li>You will be getting a complete insightful breakdown of your health issues.</li>
                <li>In recent years, naturopathy has gained a lot of popularity because of being the safest mode of treatment.</li>
                <li>The problem is not about health; it is about what action to take.</li>
              </ul>
              <div style="padding: 30px 0px;">
                <gonature-workshop-mail-cta surface="dark" title="Learn More"></gonature-workshop-mail-cta>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="bmw-product-widget-img">
              <img src="assets/images/img04.png" alt="health-readmap" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bmw-product-widget-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="bmw-product-widget-img">
              <img src="assets/images/img02.png" alt="img01" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6">
            <div class="bmw-product-widget">
              <h4>Learn Power Breathing</h4>
              <ul class="mwb-list-about">
                <li>India's ancient Rishi Munis used to live 100+ years just by controlling their breath.</li>
                <li>Know the secrets of power breathing in this life-changing webinar all the way from India.</li>
                <li>We will tell you exactly how to become a deep breather from a shallow breather in an Indian way.</li>
                <li>You will also learn to increase your total lungs capacity.</li>
              </ul>
                <div style="padding: 30px 0px;">
                  <gonature-workshop-mail-cta surface="dark" title="Learn More"></gonature-workshop-mail-cta>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bmw-product-widget-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="bmw-product-widget">
              <h4>Learn The Circulation Diet Concepts</h4>
              <ul class="mwb-list-about">
                <li>Did you know that Indian food is complete and enough for every human body?</li>
                <li>A traditional Indian diet boasts a wide variety of nutrients in a balanced quantity.</li>
                <li>The concept of the circulation diet is to provide nourishment to every cell in the human body, which is possible by adding Indian natural variations in your diet at least for seven weeks in a row.</li>
                <li>A circulation diet is the one in which there are 49 different diets for 49 days which gives you the exact nutrients that your body needs.</li>
              </ul>
                <div style="padding: 30px 0px;">
                  <gonature-workshop-mail-cta surface="dark" title="Learn More"></gonature-workshop-mail-cta>
                </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="bmw-product-widget-img">
              <img src="assets/images/img01.png" alt="img01" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bmw-product-widget-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="bmw-product-widget-img">
              <img src="assets/images/health.png" alt="img01" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6">
            <div class="bmw-product-widget">
              <h4>Weight Balancing Secrets</h4>
              <ul class="mwb-list-about">
                <li>Weight loss is not about starving. Instead, it is about understanding your body requirements and eating meals accordingly.</li>
                <li>Our students easily shed 10% of their body weight in 40-45 days.</li>
                <li>Weight loss or weight gain, whatever the problem may be, it's all about maintaining the elements of your body.</li>
                <li>You need a mentor who has the knowledge of both regional Indian diets and Western diets and can make a diet for you accordingly.</li>
              </ul>
                <div style="padding: 30px 0px;">
                  <gonature-workshop-mail-cta surface="dark" title="Learn More"></gonature-workshop-mail-cta>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bmw-product-widget-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="bmw-product-widget-img">
              <img src="assets/images/img03.png" alt="img01" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6">
            <div class="bmw-product-widget">
              <h4>BENEFITS OF THE WEBINAR</h4>
              <ul class="mwb-list-about">
                <li>Learn the Principles of Core Naturopathy.</li>
                <li>Core Healing is the Need of an Hour.</li>
                <li>Learn how to frame a balanced diet in an Indian way.</li>
                <li>The realization that Money Cannot Buy Good Health.</li>
                <li>Know the Types of Patients.</li>
                <li>Learn to Lower Down Health Expenditure.</li>
                <li>Know the Top 100 Diseases Humans have.</li>
                <li>Top Reasons of Mortality and how to be in the Safe Zone.</li>
                <li>Know the concept of the Circulation Diet.</li>
                <li>Learn how to make your health "bulletproof."</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Award -->
  <gonature-workshop-awards></gonature-workshop-awards>


  <!-- END Award -->

  <!-- product -->
  <section class="bmw-product-wrapper bmw-attend-wrapper section-padding">
    <div class="container">
      <div class="bmw-section-heading">
        <h4>WHO CAN ATTEND THIS WEBINAR</h4>
      </div>
    </div>
    <div class="bmw-product-widget-section bg-white p-0">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="bmw-product-widget-img">
              <img src="assets/images/img06.png" alt="img06" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6">
            <div class="bmw-product-widget">
              <ul class="mwb-list-about">
                <li>This webinar is for everyone who wishes to have pre-or post-disease awareness and live a life of freedom.</li>
                <li>Are you on medication, looking for natural alternatives through diet, nutrition, power breathing, and a natural lifestyle with zero side effects? In that case, you are at the right place!</li>
                <li>It is for those who want to build a superb immune system to be future-ready.</li>
                <li>If you wish to understand the Indian health system that can create value in your life.</li>
                <li>In the next five years, the biggest industry will be wellness; and in wellness, the naturopathy segment will be leading.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bmw-product-widget-info">
          <p><strong>Warning:</strong> We’ll do the brunt of the work to make your natural journey start, but to get your health improving dramatically, we need your commitment and dedication. If you’re not ready for that, please DON’T waste your time.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- End product -->


  <!-- Health -->

  <section class="bmw-health-wrapper section-padding">
    <div class="container">
      <div class="bmw-health-widget text-center">
        <h4>A HEALTH PLAN FOR EVERYONE</h4>
        <p>Hi. My name is Vishal Saini. I am a qualified Food Nutritionist and Naturopath who understands both Indian as well as western eating habits. I am a firm believer in the remedies of Mother Nature. I am holding a webinar on the insights of Natural Health and popular lifestyle diseases prevalent nowadays on upcoming Sunday at 11:00 AM EDT. So, if you have tried all sorts of treatments, give a try to Indian Core Naturopathy and enjoy its healing power.</p>
         <gonature-workshop-call-to-action></gonature-workshop-call-to-action>
      </div>
    </div>
    <svg width="1900" height="142" viewBox="0 0 1900 142" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M950 0C1474.67 0 1900 142 1900 142H0C0 142 425.333 0 950 0Z" fill="white"/>
    </svg>
  </section>

  <!-- END Health -->

  <!-- Attend -->

  <section class="bmw-product-wrapper bmw-attend-wrapper  section-padding">
    <div class="container">
      <div class="bmw-section-heading">
        <h4>5 FREE BONUSES FOR YOU AS A GIFT IF YOU ATTEND THE LIVE WEBINAR</h4>
      </div>
    </div>
    <div class="bmw-product-widget-section bg-white p-0">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="bmw-product-widget-img">
              <img src="assets/images/img05.png" alt="img05" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6">
            <div class="bmw-product-widget">
              <ul class="mwb-list-about">
                <li>Target 100 Model of the Brain</li>
                <li>Human Anatomy Blueprint</li>
                <li>The Power Breathing Blueprint</li>
                <li>Free E-book of the Week</li>
                <li>Certificate of Participation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- END attend -->







    <!-- FAQ -->
    <gonature-workshop-faqs></gonature-workshop-faqs>

    <!-- END FAQ -->



    <gonature-workshop-reviews></gonature-workshop-reviews>
      <section class="bmw-signup-wrapper section-padding">
          <div class="container">
              <div class="bmw-signup-widget">
                  <h4>Hurry Up! Seats filling very fast</h4>
                  <gonature-workshop-mail-cta #cta title="Save My Spot"></gonature-workshop-mail-cta>
              </div>
          </div>
      </section>

      <!-- Footer -->

      <footer class="main-footer">
          <div class="container">
              <div class="f-widget">
                  <div class="f-logo mb-3">
                      <a href="https://gonatureclassrooms.org/" traget="_blank">
                          <img src="assets/images/logo.png" alt="logo">
                      </a>
                  </div>
                  <p class="mwb-custom-paragraph-fotter"><a href="https://gonatureclassrooms.org/" target="_blank" rel="noopener">GO NATURE</a> © 2021 All Rights Reserved. <a href="https://gonatureclassrooms.org/terms-and-conditions/" target="_blank" rel="noopener">Terms of Use</a> and <a href="https://gonatureclassrooms.org/privacy-policy/">Privacy Policy</a></p>
              </div>
          </div>
      </footer>

      <!-- Footer End-->

  </main>
</ng-template>
