<main>

  <!-- Header End -->

  <header class="main-header text-center">
    <div class="container">
      <div class="main-logo">
        <a class="navbar-brand" target="_blank" href="https://gonatureclassrooms.org/">
          <img class="mobile-logo" src="assets/images/f-go-nature.png" alt="logo">
        </a>
      </div>
    </div>
  </header>

  <!-- Header End -->


  <!-- Banner -->

  <section class="bmw-banner text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="bmw-widget bmw-widget-mobile-none">
            <h1>THE RIGHT FOOD AND CORRECT BREATHING IS THE BEST OXYGEN THERAPY.</h1>
          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="bmw-widget text-center">
            <iframe _ngcontent-serverapp-c12="" src="https://player.vimeo.com/video/566197477" width="100%" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
          </div>
          <!-- TrustBox widget - Micro Review Count -->
          <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5ff991481c43510001791c64" data-style-height="24px" data-style-width="100%" data-theme="light">
            <a href="https://www.trustpilot.com/review/gonaturecenter.org" target="_blank" rel="noopener">Trustpilot</a>
          </div>
          <!-- End TrustBox widget -->
        </div>
        <div class="bmw-widget col-lg-12 col-md-12">
          <p>In this session, we will show you a naturopathy healing system to not only survive but thrive through your life with a proven natural method that has no supplements & other medicines.</p>
          <a href="https://rzp.io/l/special49" class="btn btn-primary mwb-pay-btn">Register now</a>
          <p class="banner-price">@49/- INR </p>
        </div>
      </div>
    </div>
    <div class="banner-svg-btm">
      <svg width="1900" height="234" viewBox="0 0 1900 234" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 197.248C0 197.248 416.07 316.162 908.438 122.807C1400.8 -70.5474 1900 122.807 1900 122.807V0.563354L0 0.563354L0 197.248Z" fill="url(#paint0_linear)"/>
        <defs>
          <linearGradient id="paint0_linear" x1="1900" y1="233.222" x2="154.055" y2="-414.619" gradientUnits="userSpaceOnUse">
            <stop stop-color="#B8E866"/>
            <stop offset="1" stop-color="#EE722B"/>
          </linearGradient>
        </defs>
      </svg>
    </div>
  </section>

  <!-- Banner End -->

  <!-- countdown -->

  <gonature-workshop-count-down></gonature-workshop-count-down>

  <!-- END countdown -->

  <section class="bmw-product-wrapper">
    <div class="container">
      <div class="bmw-section-heading">
        <h4>ABOUT THE WORKSHOP</h4>
        <p>Here is an outline of what will be covered in the Workshop!</p>
      </div>
    </div>
    <div class="bmw-product-widget-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="bmw-product-widget">
              <h4>Bulletproof Health Roadmap</h4>
              <ul class="mwb-list-about">
                <li>We will develop a strategic plan of action to dramatically improve your Health, Vitality &amp; Strength with a 360-Degree Holistic Approach.</li>
                <li>You will be getting a complete insightful breakdown of your health issues.</li>
                <li>In recent years, Naturopathy has gained a lot of popularity because of being the safest mode of treatment.</li>
                <li>The problem is not about health; it is about what action to take.</li>
                <li>When diagnosed with any illness, we need to know what your health issues are and get an idea of what you want to accomplish, and so forth.</li>
                <li>We are 100% confident that our naturopathy training methods can transform your health.</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="bmw-product-widget-img">
              <img src="assets/images/img04.png" alt="health-readmap" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bmw-product-widget-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="bmw-product-widget-img">
              <img src="assets/images/img02.png" alt="img01" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6">
            <div class="bmw-product-widget">
              <h4>Learn Power Breathing</h4>
              <ul class="mwb-list-about">
                <li>Our ancient Rishi Munis used to live 100+ years just by controlling their breathing. What was their secret?</li>
                <li>Is there anything more substantial than basic breathing techniques? Yes, and the name is Power Breathing.</li>
                <li>Learn the concept of Power Breathing in this life-changing Workshop.</li>
                <li>We will tell you exactly how to become a deep breather from a shallow breather.</li>
                <li>You will also learn to increase your total lungs capacity.</li>
                <li>Power Breathing is the next best thing in the world of Yoga &amp; Pranayama. It was usually common to Navy seals, but now it is gaining popularity worldwide.</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bmw-product-widget-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="bmw-product-widget">
              <h4>Learn The Circulation Diet Concepts</h4>
              <ul class="mwb-list-about">
                <li>Many farmers grow only a single crop on a field during the vegetation season called monoculture.</li>
                <li>Few farmers grow multiple crops simultaneously or in a rotation called polyculture.</li>
                <li>Polyculture is incredibly beneficial for soil fertility.</li>
                <li>The concept of The Circulation Diet is to provide nourishment to every cell in the human body, which is possible by adding natural variations at least for seven weeks in a row.</li>
                <li>The Circulation Diet is our award-winning diet and has gained a lot of popularity in India and globally.</li>
                <li>You will come to know- What the Circulation Diet is and how it works?</li>
                </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="bmw-product-widget-img">
              <img src="assets/images/img01.png" alt="img01" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bmw-product-widget-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="bmw-product-widget-img">
              <img src="assets/images/img03.png" alt="img01" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6">
            <div class="bmw-product-widget">
              <h4>FEATURES OF THE WORKSHOP</h4>
              <ul class="mwb-list-about">
                <li>Learn the Principles of Core Naturopathy.</li>
                <li>Core Healing is the Need of an Hour.</li>
                <li>Realisation that Money Cannot Buy Good Health.</li>
                <li>Know the Types of Patients.</li>
                <li>Learn to Lower Down Health Expenditure.</li>
                <li>Know the Top 100 Diseases Humans have.</li>
                <li>Top Reasons of Mortality and How to be in the Safe Zone.</li>
                <li>Know the concept of the Circulation Diet.</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Award -->
  <gonature-workshop-awards></gonature-workshop-awards>


  <!-- END Award -->

  <!-- product -->
  <section class="bmw-product-wrapper bmw-attend-wrapper section-padding">
    <div class="container">
      <div class="bmw-section-heading">
        <h4>WHO CAN ATTEND THIS WORKSHOP?</h4>
      </div>
    </div>
    <div class="bmw-product-widget-section bg-white p-0">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="bmw-product-widget-img">
              <img src="assets/images/img06.png" alt="img06" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6">
            <div class="bmw-product-widget">
              <ul class="mwb-list-about">
                <li>This Workshop is for everyone who wishes to have Pre- or Post-Disease awareness and live a life of freedom.</li>
                <li>Are you someone on medication, looking for some natural alternatives through diet, nutrition, power breathing and a natural lifestyle? In that case, you are at the right place!</li>
                <li>To build a superb immune system to be future-ready.</li>
                <li>To understand the health system that can create value in your life and your family’s as well.</li>
                <li>In the next five years, the biggest industry will be wellness; and in wellness, the naturopathy segment will be leading.</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="bmw-product-widget-info">
          <p><strong>Warning:</strong> We’ll do the brunt of the work to make your natural journey start, but to get your health improving dramatically, we need your commitment and dedication. If you’re not ready for that, please DON’T waste your time.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- End product -->


  <!-- Health -->

  <section class="bmw-health-wrapper section-padding">
    <div class="container">
      <div class="bmw-health-widget text-center">
        <h4>A HEALTH PLAN FOR EVERYONE</h4>
        <p>Hi. My name is Vishal Saini. I am a qualified Food Nutritionist and Naturopath. I am a firm believer in the remedies of Mother Nature. I am holding a workshop on the insights of Natural Health and popular lifestyle diseases that are prevalent nowadays on upcoming Sunday at 6:00 PM IST. So, if you have tried all sorts of treatment, give a try to Core Naturopathy and enjoy its healing power.</p>
        <a href="https://rzp.io/l/special49" class="btn btn-primary mwb-pay-btn">Register now 49/-</a>
      </div>
    </div>
    <svg width="1900" height="142" viewBox="0 0 1900 142" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M950 0C1474.67 0 1900 142 1900 142H0C0 142 425.333 0 950 0Z" fill="white"/>
    </svg>
  </section>

  <!-- END Health -->

  <!-- Attend -->

  <section class="bmw-product-wrapper bmw-attend-wrapper  section-padding">
    <div class="container">
      <div class="bmw-section-heading">
        <h4>7 FREE BONUSES FOR YOU AS A GIFT IF YOU ATTEND THE LIVE WORKSHOP</h4>
      </div>
    </div>
    <div class="bmw-product-widget-section bg-white p-0">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="bmw-product-widget-img">
              <img src="assets/images/img05.png" alt="img05" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6">
            <div class="bmw-product-widget">
              <ul class="mwb-list-about">
                <li>Target 100 Model of the Brain</li>
                <li>Human Anatomy Blueprint</li>
                <li>The Power Breathing Blueprint</li>
                <li>The DIY Blueprint</li>
                <li>The One-Word Treatment</li>
                <li>Free E-book of the Week</li>
                <li>Certificate of Participation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- END attend -->

  <!-- trustpilot -->
    <section class="bmw-product-wrapper bmw-trustpilot-wrapper section-padding">
      <div class="bmw-product-widget-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="bmw-product-widget-img">
                <a href="https://www.trustpilot.com/review/gonaturecenter.org?utm_medium=trustbox&utm_source=MicroReviewCount">
                  <img src="assets/images/img07.png" alt="img07" class="img-fluid">
                    <!-- TrustBox widget - Micro Review Count -->
          <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5ff991481c43510001791c64" data-style-height="24px" data-style-width="100%" data-theme="light">
            <a href="https://www.trustpilot.com/review/gonaturecenter.org" target="_blank" rel="noopener">Trustpilot</a>
          </div>
          <!-- End TrustBox widget -->
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="bmw-product-widget">
                <h4>You Pay 49/- INR Here's What You Get!</h4>
                <ul class="mwb-list-about">
                  <li>2-Hour Live Workshop</li>
                  <li>Finding Root Cause Of Health Problems &amp; Providing Natural Solutions.</li>
                  <li>Learn The Concept Of The Circulation Diet.</li>
                  <li>The Circulation Diet Blueprint.</li>
                  <li>Power Breathing Session (Be Empty Stomach From 6 PM TO 7 PM).</li>
                  <li>Question &amp; Answers.</li>
                  <li>7 Free Bonuses, including an E-Book &amp; Certificate Of Participation</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END trustpilot -->

    <!-- client -->
    <section class="bmw-client-wrapper section-padding">
      <div class="container">
        <div class="bmw-section-heading">
          <h4>CHECK OUR CLIENT'S FEEDBACK</h4>
          <!-- TrustBox widget - Micro Review Count -->
          <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5ff991481c43510001791c64" data-style-height="24px" data-style-width="100%" data-theme="light">
            <a href="https://www.trustpilot.com/review/gonaturecenter.org" target="_blank" rel="noopener">Trustpilot</a>
          </div>
          <!-- End TrustBox widget -->

        </div>
        <div id="ClientSlider" >
          <owl-carousel-o [options]="clientslider">
            <ng-template carouselSlide>
              <div class="item">
                <div class="mwb-client-feedback">
                  <div class="mwb-client-content">
                    <svg width="33" height="23" viewBox="0 0 33 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6.98113 21.2169C10.0531 21.2169 12.5434 18.7029 12.5434 15.6016C12.5434 12.5004 10.0531 9.98633 6.98113 9.98633C3.90918 9.98633 1.41887 12.5004 1.41887 15.6016C1.41887 18.7029 3.90918 21.2169 6.98113 21.2169Z" fill="#EE722B"/>
                      <path d="M6.98113 22.2384C3.35656 22.2384 0.407547 19.2612 0.407547 15.6021C0.407547 11.943 3.35656 8.96582 6.98113 8.96582C10.6057 8.96582 13.5547 11.943 13.5547 15.6021C13.5547 19.2612 10.6057 22.2384 6.98113 22.2384ZM6.98113 11.0077C4.47204 11.0077 2.43019 13.0691 2.43019 15.6021C2.43019 18.1351 4.47204 20.1964 6.98113 20.1964C9.49022 20.1964 11.5321 18.1351 11.5321 15.6021C11.5321 13.0691 9.49022 11.0077 6.98113 11.0077Z" fill="#EE722B"/>
                      <path d="M24.1736 21.2169C27.2455 21.2169 29.7358 18.7029 29.7358 15.6016C29.7358 12.5004 27.2455 9.98633 24.1736 9.98633C21.1016 9.98633 18.6113 12.5004 18.6113 15.6016C18.6113 18.7029 21.1016 21.2169 24.1736 21.2169Z" fill="#EE722B"/>
                      <path d="M24.1736 22.2384C20.549 22.2384 17.6 19.2612 17.6 15.6021C17.6 11.943 20.549 8.96582 24.1736 8.96582C27.7982 8.96582 30.7472 11.943 30.7472 15.6021C30.7472 19.2612 27.7982 22.2384 24.1736 22.2384ZM24.1736 11.0077C21.6645 11.0077 19.6226 13.0691 19.6226 15.6021C19.6226 18.1351 21.6645 20.1964 24.1736 20.1964C26.6827 20.1964 28.7245 18.1351 28.7245 15.6021C28.7245 13.0691 26.6827 11.0077 24.1736 11.0077Z" fill="#EE722B"/>
                      <path d="M1.41887 16.1123C0.859607 16.1123 0.407547 15.6559 0.407547 15.0914C0.407547 7.20951 6.75864 0.797852 14.566 0.797852C15.1253 0.797852 15.5774 1.25422 15.5774 1.81882C15.5774 2.38341 15.1253 2.83978 14.566 2.83978C7.87413 2.83978 2.43019 8.33563 2.43019 15.0914C2.43019 15.6559 1.97813 16.1123 1.41887 16.1123Z" fill="#EE722B"/>
                      <path d="M18.6113 16.1123C18.0521 16.1123 17.6 15.6559 17.6 15.0914C17.6 7.20951 23.9511 0.797852 31.7585 0.797852C32.3177 0.797852 32.7698 1.25422 32.7698 1.81882C32.7698 2.38341 32.3177 2.83978 31.7585 2.83978C25.0666 2.83978 19.6226 8.33563 19.6226 15.0914C19.6226 15.6559 19.1706 16.1123 18.6113 16.1123Z" fill="#EE722B"/>
                    </svg>
                    <p>very organised, informative, motivational, implementable course and compreshensive material. thenk you for the wonderful sessions.</p>
                  </div>
                  <div class="mwb-client-footer">
                  <img src="assets/images/client.png" alt="client">
                    <h4>Mr.s Amrita</h4>
                    Student, India
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="item">
                <div class="mwb-client-feedback">
                  <div class="mwb-client-content">
                    <svg width="33" height="23" viewBox="0 0 33 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6.98113 21.2169C10.0531 21.2169 12.5434 18.7029 12.5434 15.6016C12.5434 12.5004 10.0531 9.98633 6.98113 9.98633C3.90918 9.98633 1.41887 12.5004 1.41887 15.6016C1.41887 18.7029 3.90918 21.2169 6.98113 21.2169Z" fill="#EE722B"/>
                      <path d="M6.98113 22.2384C3.35656 22.2384 0.407547 19.2612 0.407547 15.6021C0.407547 11.943 3.35656 8.96582 6.98113 8.96582C10.6057 8.96582 13.5547 11.943 13.5547 15.6021C13.5547 19.2612 10.6057 22.2384 6.98113 22.2384ZM6.98113 11.0077C4.47204 11.0077 2.43019 13.0691 2.43019 15.6021C2.43019 18.1351 4.47204 20.1964 6.98113 20.1964C9.49022 20.1964 11.5321 18.1351 11.5321 15.6021C11.5321 13.0691 9.49022 11.0077 6.98113 11.0077Z" fill="#EE722B"/>
                      <path d="M24.1736 21.2169C27.2455 21.2169 29.7358 18.7029 29.7358 15.6016C29.7358 12.5004 27.2455 9.98633 24.1736 9.98633C21.1016 9.98633 18.6113 12.5004 18.6113 15.6016C18.6113 18.7029 21.1016 21.2169 24.1736 21.2169Z" fill="#EE722B"/>
                      <path d="M24.1736 22.2384C20.549 22.2384 17.6 19.2612 17.6 15.6021C17.6 11.943 20.549 8.96582 24.1736 8.96582C27.7982 8.96582 30.7472 11.943 30.7472 15.6021C30.7472 19.2612 27.7982 22.2384 24.1736 22.2384ZM24.1736 11.0077C21.6645 11.0077 19.6226 13.0691 19.6226 15.6021C19.6226 18.1351 21.6645 20.1964 24.1736 20.1964C26.6827 20.1964 28.7245 18.1351 28.7245 15.6021C28.7245 13.0691 26.6827 11.0077 24.1736 11.0077Z" fill="#EE722B"/>
                      <path d="M1.41887 16.1123C0.859607 16.1123 0.407547 15.6559 0.407547 15.0914C0.407547 7.20951 6.75864 0.797852 14.566 0.797852C15.1253 0.797852 15.5774 1.25422 15.5774 1.81882C15.5774 2.38341 15.1253 2.83978 14.566 2.83978C7.87413 2.83978 2.43019 8.33563 2.43019 15.0914C2.43019 15.6559 1.97813 16.1123 1.41887 16.1123Z" fill="#EE722B"/>
                      <path d="M18.6113 16.1123C18.0521 16.1123 17.6 15.6559 17.6 15.0914C17.6 7.20951 23.9511 0.797852 31.7585 0.797852C32.3177 0.797852 32.7698 1.25422 32.7698 1.81882C32.7698 2.38341 32.3177 2.83978 31.7585 2.83978C25.0666 2.83978 19.6226 8.33563 19.6226 15.0914C19.6226 15.6559 19.1706 16.1123 18.6113 16.1123Z" fill="#EE722B"/>
                    </svg>
                    <p>i should say that it's a real eye opener. the information given is in deatail. looking forward to start the in next 3 days. now my perspective towards food has completely changed. thanks vishal for comeing into our lives as a guiding angel. want to live a happy and healthy life.</p>
                  </div>
                  <div class="mwb-client-footer">
                    <img src="assets/images/client.png" alt="client">

                    <h4>Mr.s jaina reshamwala</h4>
                    Student, India
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="item">
                <div class="mwb-client-feedback">
                  <div class="mwb-client-content">
                    <svg width="33" height="23" viewBox="0 0 33 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6.98113 21.2169C10.0531 21.2169 12.5434 18.7029 12.5434 15.6016C12.5434 12.5004 10.0531 9.98633 6.98113 9.98633C3.90918 9.98633 1.41887 12.5004 1.41887 15.6016C1.41887 18.7029 3.90918 21.2169 6.98113 21.2169Z" fill="#EE722B"/>
                      <path d="M6.98113 22.2384C3.35656 22.2384 0.407547 19.2612 0.407547 15.6021C0.407547 11.943 3.35656 8.96582 6.98113 8.96582C10.6057 8.96582 13.5547 11.943 13.5547 15.6021C13.5547 19.2612 10.6057 22.2384 6.98113 22.2384ZM6.98113 11.0077C4.47204 11.0077 2.43019 13.0691 2.43019 15.6021C2.43019 18.1351 4.47204 20.1964 6.98113 20.1964C9.49022 20.1964 11.5321 18.1351 11.5321 15.6021C11.5321 13.0691 9.49022 11.0077 6.98113 11.0077Z" fill="#EE722B"/>
                      <path d="M24.1736 21.2169C27.2455 21.2169 29.7358 18.7029 29.7358 15.6016C29.7358 12.5004 27.2455 9.98633 24.1736 9.98633C21.1016 9.98633 18.6113 12.5004 18.6113 15.6016C18.6113 18.7029 21.1016 21.2169 24.1736 21.2169Z" fill="#EE722B"/>
                      <path d="M24.1736 22.2384C20.549 22.2384 17.6 19.2612 17.6 15.6021C17.6 11.943 20.549 8.96582 24.1736 8.96582C27.7982 8.96582 30.7472 11.943 30.7472 15.6021C30.7472 19.2612 27.7982 22.2384 24.1736 22.2384ZM24.1736 11.0077C21.6645 11.0077 19.6226 13.0691 19.6226 15.6021C19.6226 18.1351 21.6645 20.1964 24.1736 20.1964C26.6827 20.1964 28.7245 18.1351 28.7245 15.6021C28.7245 13.0691 26.6827 11.0077 24.1736 11.0077Z" fill="#EE722B"/>
                      <path d="M1.41887 16.1123C0.859607 16.1123 0.407547 15.6559 0.407547 15.0914C0.407547 7.20951 6.75864 0.797852 14.566 0.797852C15.1253 0.797852 15.5774 1.25422 15.5774 1.81882C15.5774 2.38341 15.1253 2.83978 14.566 2.83978C7.87413 2.83978 2.43019 8.33563 2.43019 15.0914C2.43019 15.6559 1.97813 16.1123 1.41887 16.1123Z" fill="#EE722B"/>
                      <path d="M18.6113 16.1123C18.0521 16.1123 17.6 15.6559 17.6 15.0914C17.6 7.20951 23.9511 0.797852 31.7585 0.797852C32.3177 0.797852 32.7698 1.25422 32.7698 1.81882C32.7698 2.38341 32.3177 2.83978 31.7585 2.83978C25.0666 2.83978 19.6226 8.33563 19.6226 15.0914C19.6226 15.6559 19.1706 16.1123 18.6113 16.1123Z" fill="#EE722B"/>
                    </svg>
                    <p>lots of knowledge points and insights. great course material. have been doing some changes fr some time but with this course feel it will help in compllete healing.will need revision for sone missed sections. thanks sir.... your energy and enthusiasm is inspiring.</p>
                  </div>
                  <div class="mwb-client-footer">
                    <img src="assets/images/client.png" alt="client">
                    <h4>Mr.s sandhya</h4>
                    Student, India
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="item">
                <div class="mwb-client-feedback">
                  <div class="mwb-client-content">
                    <svg width="33" height="23" viewBox="0 0 33 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6.98113 21.2169C10.0531 21.2169 12.5434 18.7029 12.5434 15.6016C12.5434 12.5004 10.0531 9.98633 6.98113 9.98633C3.90918 9.98633 1.41887 12.5004 1.41887 15.6016C1.41887 18.7029 3.90918 21.2169 6.98113 21.2169Z" fill="#EE722B"/>
                      <path d="M6.98113 22.2384C3.35656 22.2384 0.407547 19.2612 0.407547 15.6021C0.407547 11.943 3.35656 8.96582 6.98113 8.96582C10.6057 8.96582 13.5547 11.943 13.5547 15.6021C13.5547 19.2612 10.6057 22.2384 6.98113 22.2384ZM6.98113 11.0077C4.47204 11.0077 2.43019 13.0691 2.43019 15.6021C2.43019 18.1351 4.47204 20.1964 6.98113 20.1964C9.49022 20.1964 11.5321 18.1351 11.5321 15.6021C11.5321 13.0691 9.49022 11.0077 6.98113 11.0077Z" fill="#EE722B"/>
                      <path d="M24.1736 21.2169C27.2455 21.2169 29.7358 18.7029 29.7358 15.6016C29.7358 12.5004 27.2455 9.98633 24.1736 9.98633C21.1016 9.98633 18.6113 12.5004 18.6113 15.6016C18.6113 18.7029 21.1016 21.2169 24.1736 21.2169Z" fill="#EE722B"/>
                      <path d="M24.1736 22.2384C20.549 22.2384 17.6 19.2612 17.6 15.6021C17.6 11.943 20.549 8.96582 24.1736 8.96582C27.7982 8.96582 30.7472 11.943 30.7472 15.6021C30.7472 19.2612 27.7982 22.2384 24.1736 22.2384ZM24.1736 11.0077C21.6645 11.0077 19.6226 13.0691 19.6226 15.6021C19.6226 18.1351 21.6645 20.1964 24.1736 20.1964C26.6827 20.1964 28.7245 18.1351 28.7245 15.6021C28.7245 13.0691 26.6827 11.0077 24.1736 11.0077Z" fill="#EE722B"/>
                      <path d="M1.41887 16.1123C0.859607 16.1123 0.407547 15.6559 0.407547 15.0914C0.407547 7.20951 6.75864 0.797852 14.566 0.797852C15.1253 0.797852 15.5774 1.25422 15.5774 1.81882C15.5774 2.38341 15.1253 2.83978 14.566 2.83978C7.87413 2.83978 2.43019 8.33563 2.43019 15.0914C2.43019 15.6559 1.97813 16.1123 1.41887 16.1123Z" fill="#EE722B"/>
                      <path d="M18.6113 16.1123C18.0521 16.1123 17.6 15.6559 17.6 15.0914C17.6 7.20951 23.9511 0.797852 31.7585 0.797852C32.3177 0.797852 32.7698 1.25422 32.7698 1.81882C32.7698 2.38341 32.3177 2.83978 31.7585 2.83978C25.0666 2.83978 19.6226 8.33563 19.6226 15.0914C19.6226 15.6559 19.1706 16.1123 18.6113 16.1123Z" fill="#EE722B"/>
                    </svg>
                    <p>it was an eys opener, it just changed my mindset towards a lot of things, and ii m looking forward to start this with myself so that i can help my family after they see my result.. so great work vishal sir.</p>
                  </div>
                  <div class="mwb-client-footer">
                    <img src="assets/images/client.png" alt="client">
                    <h4>Mr.s namrata nahata</h4>
                    Student, India
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="item">
                <div class="mwb-client-feedback">
                  <div class="mwb-client-content">
                    <svg width="33" height="23" viewBox="0 0 33 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6.98113 21.2169C10.0531 21.2169 12.5434 18.7029 12.5434 15.6016C12.5434 12.5004 10.0531 9.98633 6.98113 9.98633C3.90918 9.98633 1.41887 12.5004 1.41887 15.6016C1.41887 18.7029 3.90918 21.2169 6.98113 21.2169Z" fill="#EE722B"/>
                      <path d="M6.98113 22.2384C3.35656 22.2384 0.407547 19.2612 0.407547 15.6021C0.407547 11.943 3.35656 8.96582 6.98113 8.96582C10.6057 8.96582 13.5547 11.943 13.5547 15.6021C13.5547 19.2612 10.6057 22.2384 6.98113 22.2384ZM6.98113 11.0077C4.47204 11.0077 2.43019 13.0691 2.43019 15.6021C2.43019 18.1351 4.47204 20.1964 6.98113 20.1964C9.49022 20.1964 11.5321 18.1351 11.5321 15.6021C11.5321 13.0691 9.49022 11.0077 6.98113 11.0077Z" fill="#EE722B"/>
                      <path d="M24.1736 21.2169C27.2455 21.2169 29.7358 18.7029 29.7358 15.6016C29.7358 12.5004 27.2455 9.98633 24.1736 9.98633C21.1016 9.98633 18.6113 12.5004 18.6113 15.6016C18.6113 18.7029 21.1016 21.2169 24.1736 21.2169Z" fill="#EE722B"/>
                      <path d="M24.1736 22.2384C20.549 22.2384 17.6 19.2612 17.6 15.6021C17.6 11.943 20.549 8.96582 24.1736 8.96582C27.7982 8.96582 30.7472 11.943 30.7472 15.6021C30.7472 19.2612 27.7982 22.2384 24.1736 22.2384ZM24.1736 11.0077C21.6645 11.0077 19.6226 13.0691 19.6226 15.6021C19.6226 18.1351 21.6645 20.1964 24.1736 20.1964C26.6827 20.1964 28.7245 18.1351 28.7245 15.6021C28.7245 13.0691 26.6827 11.0077 24.1736 11.0077Z" fill="#EE722B"/>
                      <path d="M1.41887 16.1123C0.859607 16.1123 0.407547 15.6559 0.407547 15.0914C0.407547 7.20951 6.75864 0.797852 14.566 0.797852C15.1253 0.797852 15.5774 1.25422 15.5774 1.81882C15.5774 2.38341 15.1253 2.83978 14.566 2.83978C7.87413 2.83978 2.43019 8.33563 2.43019 15.0914C2.43019 15.6559 1.97813 16.1123 1.41887 16.1123Z" fill="#EE722B"/>
                      <path d="M18.6113 16.1123C18.0521 16.1123 17.6 15.6559 17.6 15.0914C17.6 7.20951 23.9511 0.797852 31.7585 0.797852C32.3177 0.797852 32.7698 1.25422 32.7698 1.81882C32.7698 2.38341 32.3177 2.83978 31.7585 2.83978C25.0666 2.83978 19.6226 8.33563 19.6226 15.0914C19.6226 15.6559 19.1706 16.1123 18.6113 16.1123Z" fill="#EE722B"/>
                    </svg>
                    <p>amazing eye opener learning. loved ittt. it was just awesome. i will be connected lifetime. thankyou so much vishal. god bless you. u r doing a wonderfull job.</p>
                  </div>
                  <div class="mwb-client-footer">
                    <img src="assets/images/client.png" alt="client">
                    <h4>Mr.s jini nahata</h4>
                    Student, India
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </section>
    <!-- END client -->



    <!-- FAQ -->
    <section class="bmw-faq-wrapper section-padding">
      <div class="container">
        <div class="bmw-section-heading">
          <h4>Got More Questions?</h4>
        </div>
        <div class="bmw-faq-widget">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="bmwAccordion01">
                <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapse01" aria-expanded="true" aria-controls="collapse01">
                  Q) When does the "Naturopathy Healing System" Workshop start?
                </button>
              </h2>
              <div id="collapse01" class="accordion-collapse collapse show" aria-labelledby="bmwAccordion01" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>A) The Naturopathy workshop starts on Sunday at 6:00 PM and it will end at 8:00 PM. It will be live on zoom.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="bmwAccordion02">
                <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapse02" aria-expanded="false" aria-controls="collapse02">
                  Q) Will I get lifetime access to the video?
                </button>
              </h2>
              <div id="collapse02" class="accordion-collapse collapse" aria-labelledby="bmwAccordion02" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>A) Take a note that this is a Class (Workshop), not an online course. Therefore, you don’t get lifetime access to the sessions’ recording. Everything will be live; hence, no replays & recordings</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="bmwAccordion03">
                <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapse03" aria-expanded="false" aria-controls="collapse03">
                  Q) Will I be able to start my own diet clinic after the certification and earn money?
                </button>
              </h2>
              <div id="collapse03" class="accordion-collapse collapse" aria-labelledby="bmwAccordion03" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>A) The Certificate that you get is for your participation.. Consequently, the workshop does not guarantee any income or job. Instead, it makes you understand the self-healing mechanism of the human body.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="bmwAccordion04">
                <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapse04" aria-expanded="false" aria-controls="collapse04">
                  Q) If I miss the workshop, will my 49/- INR be refunded?
                </button>
              </h2>
              <div id="collapse04" class="accordion-collapse collapse" aria-labelledby="bmwAccordion04" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>A) There is no provision of refunding 49 /- INR in any scenario because the workshop is live. If you are occupied during workshop time, we suggest you not to buy a ticket as there is no option of refunding 49/- INR.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="bmwAccordion05">
                <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapse05" aria-expanded="false" aria-controls="collapse05">
                  Q) I am an established health coach, can I attend this?
                </button>
              </h2>
              <div id="collapse05" class="accordion-collapse collapse" aria-labelledby="bmwAccordion05" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>A) This workshop is for everyone. We welcome all the coaches, doctors, patients, and working professionals.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="bmwAccordion06">
                <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapse06" aria-expanded="false" aria-controls="collapse06">
                  Q) Will the certificate be provided in hard copy or soft copy? If yes, then till when?
                </button>
              </h2>
              <div id="collapse06" class="accordion-collapse collapse" aria-labelledby="bmwAccordion06" data-parent="#accordionExample">
                <div class="accordion-body">
                  A) The certificate is provided in a soft copy (PDF) to your registered email ID within 24 hours of course completion.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="bmwAccordion07">
                <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapse07" aria-expanded="false" aria-controls="collapse07">
                  Q) Will you provide us with the 49 days circulation diets & recipes in this workshop?
                </button>
              </h2>
              <div id="collapse07" class="accordion-collapse collapse" aria-labelledby="bmwAccordion07" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>A) The circulation diet is a very long scientific study & diet plan. Therefore, explaining in merely 2 hours is not possible. Instead, we will tell you what a circulation diet is, how it works & what results it can give. Hence, we do not provide 49 days 49 different diets (the circulation diet) in the workshop.</p>
                </div>
              </div>
            </div>
          </div>
          <p class="bmw-info"><strong>Final Note:</strong> This workshop will help you to know where you are in terms of your health & where you can reach. You will come to know the difference in diseases expenditure & health expenditure.</p>
        </div>
      </div>
    </section>
    <!-- END FAQ -->



        <!-- Award -->
  <gonature-workshop-reviews></gonature-workshop-reviews>


  <!-- END Award -->

  <section class="bmw-signup-wrapper section-padding">
    <div class="container">
      <div class="bmw-signup-widget">
        <h4>Are you ready to transform your health?</h4>
        <a href="https://rzp.io/l/special49" class="btn btn-primary mwb-pay-btn">Register now</a>
      </div>
    </div>
  </section>

  <!-- Footer -->

  <footer class="main-footer">
    <div class="container">
      <div class="f-widget">
        <div class="f-logo mb-3">
          <a href="https://gonatureclassrooms.org/" traget="_blank">
            <img src="assets/images/logo.png" alt="logo">
        </a>
        </div>
        <p class="mwb-custom-paragraph-fotter"><a href="https://gonatureclassrooms.org/" target="_blank" rel="noopener">GO NATURE</a> © 2021 All Rights Reserved. <a href="https://gonatureclassrooms.org/terms-and-conditions/" target="_blank" rel="noopener">Terms of Use</a> and <a href="https://gonatureclassrooms.org/privacy-policy/">Privacy Policy</a></p>
      </div>
    </div>
  </footer>

  <!-- Footer End-->

</main>
