

<mat-drawer-container>
  <mat-drawer #drawer style="height: 100vh;" position="end" mode="over">
    <div [ngClass]="{'fullWidth': platform.ANDROID,'halfWidth': !platform.ANDROID}" style="background: linear-gradient(82.25deg, #EE722B 0%, #b8e866 97.92%);">
      <header class="main-header text-center" style="background-color: none;" >
        <div class="container">
          <div class="main-logo">
            <a class="navbar-brand" target="_blank" href="https://gonatureclassrooms.org/">
              <img class="mobile-logo" src="assets/images/f-go-nature.png" alt="logo">
            </a>
          </div>
        </div>
      </header>
      <gonature-workshop-leadform></gonature-workshop-leadform>

    </div>
  </mat-drawer>
  <div class="example-sidenav-content" style="height: 100vh;">
    <ng-container [ngTemplateOutlet]="MAIN"></ng-container>

  </div>
</mat-drawer-container>
<ng-template #MAIN>
  <gonature-workshop-banner></gonature-workshop-banner>
  <main>
      <!-- <header class="main-header text-center">
      <div class="container">
        <div class="main-logo">
          <a class="navbar-brand" target="_blank" href="https://gonatureclassrooms.org/">
            <img class="mobile-logo" src="assets/images/f-go-nature.png" alt="logo">
          </a>
        </div>
      </div>
    </header> -->
      <section class="bmw-banner text-center">
          <!-- <gonature-workshop-banner-mobile></gonature-workshop-banner-mobile> -->
          <div class="banner-svg-btm">
              <svg width="1900" height="234" viewBox="0 0 1900 234" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 197.248C0 197.248 416.07 316.162 908.438 122.807C1400.8 -70.5474 1900 122.807 1900 122.807V0.563354L0 0.563354L0 197.248Z" fill="url(#paint0_linear)"/>
          <defs>
            <linearGradient id="paint0_linear" x1="1900" y1="233.222" x2="154.055" y2="-414.619" gradientUnits="userSpaceOnUse">
              <stop stop-color="#B8E866"/>
              <stop offset="1" stop-color="#EE722B"/>
            </linearGradient>
          </defs>
        </svg>
          </div>
      </section>

      <!-- Banner End -->

      <!-- countdown -->
      <!--
    <gonature-workshop-count-down></gonature-workshop-count-down> -->

      <!-- END countdown -->

      <section class="bmw-product-wrapper">
          <div class="container">
              <div class="bmw-section-heading">
                  <h4>Features of The Webinar</h4>
                  <p>Here are the 6 secrets you're gonna master in this 90-minutes webinar!</p>
              </div>
          </div>
          <div class="bmw-product-widget-section">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="bmw-product-widget">
                              <h4>Heal With Your Circadian Rhythm</h4>
                              <ul class="mwb-list-about">
                                  <li>Circadian rhythms are the body's 24-hour cycles working as the internal clock, running in the background to carry out essential functions and processes.</li>
                                  <li>Did you know that our circadian rhtthms can influence some very important functions in our bodies. such as: Hormoe release. Eating habits and digestion, body temperature</li>
                                  <li>If your circadian rhythm is disrupted, it will restrict your body's systems from functioning optimally.</li>
                                  <li>the changes in circadian rhythm can cause sleep disorder. amd may lead to other chronic health conditions, such as obesity. depression. bipolar disorder. and seasonal affective disorder</li>
                                  <li>In this webinar we will tell you what circadian rhythm is and why it is important.</li>

                              </ul>
                              <gonature-workshop-mail-cta surface="dark" title="Learn More"></gonature-workshop-mail-cta>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="bmw-product-widget-img">
                              <img src="assets/images/secrets/hwcr.png" alt="health-readmap" class="img-fluid">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="bmw-product-widget-section">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="bmw-product-widget-img">
                              <img src="assets/images/secrets/eape.png" alt="img01" class="img-fluid">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="bmw-product-widget">
                              <h4>Eat As Per Elements</h4>
                              <ul class="mwb-list-about">
                                  <li>The food we put in our mouths can either fuel us or slowly kill us. </li>
                                  <li>Each individual is born with a certain element that defines their personality, emitional state, health risks. even their strength and weakness.</li>
                                  <li>After knowing our body type, we can choose a diet that will allow us to remain healthy and strong throughout our lives.</li>
                                  <li>We can know the body type we fit into based on the five elements; wood, fire, water, earth or metal.</li>
                                  <li>Eating according to your own elements can nourish your body. strengthen your muscles and optimize your health and well-being. </li>
                                  <li>It is essential to know which elements are good for you and not to lead a healthy life.</li>
                              </ul>
                              <gonature-workshop-mail-cta surface="dark" title="Know More"></gonature-workshop-mail-cta>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


      </section>

      <!-- Award -->
      <gonature-workshop-awards></gonature-workshop-awards>


      <!-- END Award -->

      <!-- product -->
      <section class="bmw-product-wrapper bmw-attend-wrapper section-padding">
          <div class="container">
              <div class="bmw-section-heading">
                  <h4>WHO CAN ATTEND THIS WEBINAR?</h4>
              </div>
          </div>
          <div class="bmw-product-widget-section bg-white p-0">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="bmw-product-widget-img">
                              <img src="assets/images/img06.png" alt="img06" class="img-fluid">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="bmw-product-widget">
                              <ul class="mwb-list-about">
                                  <li>This webinar is for everyone who wishes to have Pre- or Post-Disease awareness and live a life of freedom.</li>
                                  <li>Are you someone on medication, looking for some natural alternatives through diet, nutrition, power breathing and a natural lifestyle? In that case, you are at the right place!</li>
                                  <li>To build a superb immune system to be future-ready.</li>
                                  <li>To understand the health system that can create value in your life and your family’s as well.</li>
                                  <li>In the next five years, the biggest industry will be wellness; and in wellness, the naturopathy segment will be leading.</li>
                                  <li>if you want to consult word's best Dieticians about your health issues. Go Nature Classrooms is providing you an awesome opportunity to do so.</li>
                                  <li>let's talk about ultimate health strategy to live a better and healthy lift without any mediciness or supplements.</li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="bmw-product-widget-info">
                      <p><strong>Warning:</strong> We’ll do the brunt of the work to make your natural journey start, but to get your health improving dramatically, we need your commitment and dedication. If you’re not ready for that, please DON’T waste your
                          time.
                      </p>
                  </div>
              </div>
          </div>
      </section>

      <!-- End product -->


      <!-- Health -->

      <section class="bmw-health-wrapper section-padding">
          <div class="container">
              <div class="bmw-health-widget text-center">
                  <h4>A HEALTH PLAN FOR EVERYONE</h4>
                  <p>Hi. My name is Vishal Saini. I am a qualified Food Nutritionist and Naturopath. I am a firm believer in the remedies of Mother Nature. I am holding a webinar on the insights of Natural Health and popular lifestyle diseases that are prevalent
                      nowadays on upcoming Sunday at 6:00 PM IST. So, if you have tried all sorts of treatment, give a try to Core Naturopathy and enjoy its healing power.</p>
                  <gonature-workshop-mail-cta></gonature-workshop-mail-cta>
              </div>
          </div>
          <svg width="1900" height="142" viewBox="0 0 1900 142" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M950 0C1474.67 0 1900 142 1900 142H0C0 142 425.333 0 950 0Z" fill="white"/>
      </svg>
      </section>

      <!-- END Health -->

      <!-- Attend -->

      <section class="bmw-product-wrapper bmw-attend-wrapper">
          <div class="container">
              <div class="bmw-section-heading">
                  <h4>ONE FREE BUMPER BONUS FOR YOU AS A GIFT IF YOU ATTEND THE LIVE WEBINAR</h4>
              </div>
          </div>

          <div class="bmw-product-widget-section bg-white p-0">
              <div class="bmw-product-widget-section">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="bmw-product-widget-img">
                                  <img src="assets/images/img02.png" alt="img05" class="img-fluid">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="bmw-product-widget">
                                  <h4>Learn Power Breathing</h4>
                                  <ul class="mwb-list-about">
                                      <li>Tortoise lives for 100-200 years. The secret is the breath tortoise takes, that is, two or three breaths a minute.</li>
                                      <li>A dog lives a maximum of 13 to 15 years. The reason is that a dog is a shallow breather, taking 100+ breaths a minute.</li>
                                      <li>If we talk about humans, we are, by default, designed for 8 to 12 breaths per minute. But unfortunately, most of us breathe 18 to even 30+ times per minute.</li>
                                      <li>Learn how Vishal Saini revolutionized human breathing by helping thousands of our students to become a deep breather and holding their breath for 5 minutes.</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>


          </div>
      </section>

      <!-- END attend -->

      <!-- trustpilot -->
      <section class="bmw-product-wrapper bmw-trustpilot-wrapper section-padding">
          <div class="bmw-product-widget-section">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="bmw-product-widget-img">
                              <a href="https://www.trustpilot.com/review/gonaturecenter.org?utm_medium=trustbox&utm_source=MicroReviewCount">
                                  <img src="assets/images/img07.png" alt="img07" class="img-fluid">
                                  <gonature-workshop-trustpilot></gonature-workshop-trustpilot>
                              </a>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="bmw-product-widget">
                              <h4>You Pay 99/- INR And Here's What You Get!</h4>
                              <ul class="mwb-list-about">
                                  <li>90 minutes live webinar 30 minutes for question/answeres.</li>
                                  <li>Finding Root Cause of Health Problems &amp; Providing Natural Solutions.</li>
                                  <li>Get a major breakthough in knowing naturopathy secrets.</li>
                                  <li>Power Breathing Session.</li>
                                  <li>30 minutes for question/answers</li>
                                  <li>1 Free Bonus. i.e., power breathing </li>
                                  <li>You will get a chance to be in our VIP facebook group</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- END trustpilot -->


      <gonature-workshop-faqs></gonature-workshop-faqs>
      <!-- Award -->
      <gonature-workshop-reviews></gonature-workshop-reviews>
      <!-- END Award -->

      <section class="bmw-signup-wrapper section-padding">
          <div class="container">
              <div class="bmw-signup-widget">
                  <h4>Hurry Up! Seats filling very fast</h4>
                  <gonature-workshop-mail-cta title="Save My Spot"></gonature-workshop-mail-cta>
              </div>
          </div>
      </section>

      <!-- Footer -->

      <footer class="main-footer">
          <div class="container">
              <div class="f-widget">
                  <div class="f-logo mb-3">
                      <a href="https://gonatureclassrooms.org/" traget="_blank">
                          <img src="assets/images/logo.png" alt="logo">
                      </a>
                  </div>
                  <p class="mwb-custom-paragraph-fotter"><a href="https://gonatureclassrooms.org/" target="_blank" rel="noopener">GO NATURE</a> © 2021 All Rights Reserved. <a href="https://gonatureclassrooms.org/terms-and-conditions/" target="_blank" rel="noopener">Terms of Use</a> and <a href="https://gonatureclassrooms.org/privacy-policy/">Privacy Policy</a></p>
              </div>
          </div>
      </footer>

      <!-- Footer End-->

  </main>
</ng-template>
